.imgWrapper {
  width: 100%;
  margin-bottom: 4rem;
}

.imgWrapper img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .imgWrapper {
    width: 75%;
  }

  .textWrapper {
    position: absolute;
    bottom: 4rem;
    right: 9rem;
    width: 60rem;
    padding: 9rem;
    background: hsl(0, 4%, 100%);
  }
}